@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('../../public/fonts/8vIQ7wUr0m80wwYf0QCXZzYzUoTg8z6hR4jNCH5Z.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.transparent-navbar {
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Optional: adds a border with transparency */
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: 'CustomFont , sans-serif';
}

.fade-carousel .control-dots {
  display: none; /* Hide dots */
}

.fade-carousel .slide {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Fade transition effect */
}

.fade-carousel .slide.carousel-slider .slide {
  opacity: 1;
}
