@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'CustomFont';
  src: url('../../public/fonts/8vIf7wUr0m80wwYf0QCXZzYzUoTK8RZQvRd-D1NYbmyWcks.woff') format('woff2');
  font-weight: bolder;

}

.transparent-navbar {
  background-color: rgba(0, 0, 0, 0.3); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;

  background-color: black;
  font-family: 'CustomFont';
}

.fade-carousel .control-dots {
  display: none; /* Hide dots */
}

.fade-carousel .slide {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Fade transition effect */
}

.fade-carousel .slide.carousel-slider .slide {
  opacity: 1;
}
